table{
    margin-left: 300px;
    border-collapse: collapse;
    border: 1px solid;
    width: 60%;
  }
 th{
    background-color: #00646b;
    color: white;
    border-collapse: collapse;
    border: 1px solid;
    height: 70px;  
}
td{
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid;
    
}

.head{
    margin-left: 300px;
}



.input1{
	padding: 6px 24px;
	border: 2px solid black;
	border-radius: 6px;
	cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.label{
    font-size: 16px;
    margin-left: 300px;
  }

.input{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    
  }

.input1:hover{
    background-color: #037c8b;
    color: #0F4C75;
  
  }

